.table-row {
  background-color: white;
  width: 60%;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.table-row > span {
  display: flex;
  align-items: center;
  width: 50%;
  padding-left: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-row > span > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
